.about {
	padding: 49px 0px 7px;
	@media (min-width: 744px) {
		padding: 0px 0px 82px;
	}
	@media (min-width: 992px) {
		padding: 96px 0px 0px;
	}

	&__part2 {
		padding-top: 75px;
		@media (min-width: 992px) {
			padding-top: 96px;
		}
	}

	&__header-title {
		padding-bottom: 20px;
		padding-left: 16px;
		font-weight: 600;
		font-size: 24px;
		line-height: 1.8;
		letter-spacing: -0.57px;
		@media (min-width: 744px) {
			padding-left: 21px;
		}
		@media (min-width: 992px) {
			padding-left: 36px;
			font-size: 36px;
		}
	}
	&__header-subtitle {
		display: none;
		@media (min-width: 992px) {
			display: block;
			padding-left: 36px;
			font-weight: 500;
			font-size: 20px;
			line-height: 1.5;
			letter-spacing: 0.4px;			
		}
	}
	&__body {
		width: 100%;		
		@media (min-width: 992px) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			padding: 64px 36px 96px 36px;	
		}
		&-info {
			padding: 0px 16px 30px;
			font-family: $second-family;
			line-height: 1.6;
			@media (min-width: 744px) {
				font-family: $fontFamily;
				color: rgba(0, 0, 0, 0.8);
			}
			@media (min-width: 992px) {
				font-size: 36px;
				line-height: 1.2;
				font-weight: 500;
				width: 46%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
			p { 
				@media (min-width: 744px) {
					display: inline;
				}
				@media (min-width: 992px) {
					display: block;
				}
			}
			p:first-child {
				padding-bottom: 20px;
				@media (min-width: 744px) {
					padding-bottom: 0px;
				}
				@media (min-width: 992px) {
					padding-bottom: 20px;
				}
			}
			@media (min-width: 744px) {
				padding: 0px 21px 30px;
			}
			@media (min-width: 992px) {
				padding: 0px;
			}
		}
		&-image {
			@media (min-width: 992px) {
				width: 48%;
			}
			img {
				width: 100%;
			}
		}
	}
}
.img-general {
	display: block;
	@media (min-width: 744px) {
		display: none;
	}
	@media (min-width: 992px) {
		display: block;
	}
}
.img-tab {
	display: none;
	@media (min-width: 744px) {
		display: block;
	}
	@media (min-width: 992px) {
		display: none;
	}
}