.ending {
		background-color: #f7f7f7;
	&__container {
	}
	&__header {
		width: 100%;
		text-align: center;
		padding: 55px 32px 81px;
		@media (min-width: 744px) {
			padding: 63px 20px 91px;
		} 
		@media (min-width: 992px) {
			padding: 96px 80px 60px;
		}
		&-text1,
		&-text2 {
			font-size: 14px;
			line-height: 1.7;
			font-weight: 600;
			@media (min-width: 992px) {
				font-size: 16px;
				line-height: 1.5;
			}
		}
		&-text1 {
			@media (min-width: 992px) {
				display: none;
			}			
		}
		&-text2 {
			display: none;
			@media (min-width: 992px) {
				display: block;
			}
		}
		&-title {
			padding: 12px 0px 14px;
			@media (min-width: 744px) {
				padding: 12px 35px 14px;
			}
			@media (min-width: 992px) {
				padding: 12px 186px 14px;
			}
		}
		&-subtitle {
			color: $fontColor;
			line-height: 1.6;
			padding-bottom: 20px;
		}

		&-button {
			@include button(56px, 46px, 16px);
			box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3);
		}
		
	}
}

.program {
	@media (min-width: 992px) {
		// padding-bottom: 60px;
		display: flex;
		flex-direction: row-reverse;
		width: 100%;
		&:nth-child(2) {
			flex-direction: row;
		}
	}

	&__info {
		padding: 0px 16px 36px;
		@media (min-width: 744px) {
			padding: 0px 32px 36px 20px;
		}
		@media (min-width: 992px) {
			padding: 0px 96px;
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	&__info-title {
		font-weight: 700;
		font-size: 24px;
		line-height: 1.5;
		color: $fontColor;
		padding-bottom: 18px;
		@media (min-width: 992px) {
			font-size: 30px;
			line-height: 1.2;
			padding-bottom: 16px;
		}
	}

	&__info-text {
		font-weight: 600;
		font-size: 16px;
		line-height: 1.7;
		color: rgba(0, 0, 0, 0.8);
		@media (min-width: 744px) {
		}
		@media (min-width: 992px) {
			font-size: 18px;
			line-height: 1.5;
		}
	}

	&__image {
		@media (min-width: 744px) {
			padding: 0px 32px 0px 20px;
		}
		@media (min-width: 992px) {
			padding: 0px;
			width: 50%;
		}

		img {
			width: 100%;
		}
	}
}

._left {
	@media (min-width: 992px) {
		margin-left: 150px;
	}
}

