.main {
	display: flex;
	flex-direction: column;
	background: $whiteColor;
	width: 100%;
	@media (min-width: 744px) {
	} 
	@media (min-width: 992px) {
		flex-direction: row;
	}

	&__info {
		width: 100%;
		padding: 77px 15px 53px;
		@media (min-width: 744px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			max-width: 450px;
			margin: 0 auto;
		} 
		@media (min-width: 992px) {
			max-width: 640px;
			text-align: start;
			align-items: flex-start;
			padding: 0px 0px 0px 10px;
			max-width: 50%;
			margin: 0px;

		}
		@media (min-width: 1200px) {
			background-image: url(@img/Arrow_red.svg);
			background-repeat: no-repeat;
			background-position: 82% 77%;
		}
		@media (min-width: 1350px) {
			padding: 0px 0px 0px 85px;
		}
 	}

	&__title {
		font-size: 36px;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -0.72px;
		color: $fontColor;
		@media (min-width: 992px) {
			font-size: 59px;
		}		
	}

	&__text {
		line-height: 1.6;
		font-weight: 500;
		padding: 24px 0px 29px;
		@media (min-width: 744px) {
			padding: 24px 0px 38px;
		}
		@media (min-width: 992px) {
			padding: 70px 136px 26px 0px;
			font-size: 20px;
			line-height: 1.5;
		}
		&-red {
			@media (min-width: 992px) {
				@include text-red;
			}
		}
	}
	&__button {	
		@media (min-width: 992px) {
			display: flex;
			justify-content: flex-start;
		}
		&-link {
			@include button(56px, 76px, 16px);
			@media (min-width: 375px) {
				@include button(56px, 123px, 16px);
				box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3);
			}	
			@media (min-width: 992px) {
				@include button(56px, 33px, 16px);
				box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3);
			}
		}
	}

	&__image {
		width: 100%;
		@media (min-width: 992px) {
			max-width: 720px;
			width: 50%;
		}
		img {
			width: 100%;
		}
	}
}

