.start {
	&__header {
		text-align: center;
		padding: 0 15px 70px 17px;
		@media (min-width: 744px) {
			padding: 0 32px 113px 20px;
		}
		@media (min-width: 992px) {
			padding: 0 32px 86px 20px;
		}

		&-subtitle {
			font-weight: 500;
			font-size: 20px;
			line-height: 1.5;
			color: #475467;
			padding: 8px 0px 22px;
			@media (min-width: 992px) {
				padding: 9px 0px 48px;
			}
		}

		&-button {
			@include button(56px, 76px, 16px);
			@media (min-width: 320px) {
				@include button(56px, 97px, 16px);
			}
			@media (min-width: 375px) {
				@include button(56px, 123px, 16px);
				box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3);
			}	
			@media (min-width: 992px) {
				@include button(56px, 33px, 16px);
				box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.3);
			}
		}
	}

	&__body-image {	
		height: 380px;
		width: 100%;
		background-image: url('@img/start_mob.png');
		background-repeat: no-repeat;
		background-size: cover;
		@media (min-width: 744px) {
			background-image: none;
			height: 100%;
		}
		img {
			display: none;
			width: 100%;
			@media (min-width: 744px) {
				display: block;
			}
		}
	}
}

.win {
   background-color: $bgColor;
	padding: 31px 16px;
	color: #333333;
	@media (min-width: 744px) {
		padding: 31px 12px 31px 20px;
	}
	@media (min-width: 992px) {
		padding: 40px 76px 35px;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-family: $third-family;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.2;
		padding-bottom: 33px;
		@media (min-width: 744px) {
			font-size: 20px;
			text-align: center;
			line-height: 1.4;
		}
		@media (min-width: 992px) {
			font-size: 48px;
			padding-bottom: 0px;
			text-align: start;
			width: 40%;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.2;
		@media (min-width: 992px) {
			font-size: 26px;
			width: 50%;
		}	
		p {
			&:first-child {
				padding-bottom: 31px;
				@media (min-width: 992px) {
					padding-top: 11px;
				}
			}
		}		
	}
}

._bold {
	@media (min-width: 992px) {
		font-weight: 700;
	}
	a {
		color: #333333;
	}
}