// Useful reusable items

$fontFamily: "Montserrat", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Space Grotesk", sans-serif;
$fontSize: 18px;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$blueColor: #0036A0;
$lightBlueColor: #417BEB;
$fontColor: #101828;
$menuColor: #455366;
$bgColor: #F4F6F9;
$maxWidth: 1440px;
$containerWidth: 1280px;

._container {
	max-width: $containerWidth;
	margin: 0px auto;
}

._maxContainer {
	max-width: $maxWidth;
	margin: 0px auto;
}

@mixin button($btnHeight, $btnPad, $btnFontSize) { 
   color: $whiteColor;
   background: $lightBlueColor;
   border-radius: 40px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: $btnHeight;
   padding: 0px $btnPad;
   font-size: $btnFontSize;
   font-weight: 600;
	box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.3);
   transition: all 0.3s ease 0s;
      &:hover {
         color: $whiteColor;
         background: $blueColor;
         transition: all 0.3s ease 0s;
		}
}



