.voices {
	// background-color: #f7f7f7;
	&__header {
		padding: 54px 16px 44px;
		@media (min-width: 744px) {
			padding: 69px 155px 27px 20px;
		}
		@media (min-width: 992px) {
			padding: 75px 112px 64px 32px;
		}
	}
	&__header-title {
		font-weight: 600;
		font-size: 30px;
		line-height: 1.4;
		letter-spacing: -1.2px;
		color: $fontColor;
		@media (min-width: 992px) {
			font-size: 36px;
			line-height: 1.2;
		}
	}

	&__header-subtitle {
		font-weight: 500;
		line-height: 1.6;
		color: rgba(0, 0, 0, 0.8);
		padding-top: 17px;
		@media (min-width: 992px) {
			font-size: 20px;
			line-height: 1.5;
			padding-right: 451px;
		}
	}

	&__body {
		margin-left: 16px;
		padding-bottom: 56px;
		@media (min-width: 744px) {
			margin-left: 20px;
			padding-bottom: 117px;
		}
		@media (min-width: 992px) {
			margin-left: 32px;
			padding-bottom: 75px;
		}
	}
}

.slider {
	&__slide {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $whiteColor;
		padding: 18px;
		@media (min-width: 992px) {
			padding: 24px;
		}
		&-name {
			font-weight: 600;
			font-size: 15px;
			line-height: 1.2;
			@media (min-width: 992px) {
				font-size: 20px;
			}
		}
		&-text {
			backdrop-filter: blur(24px);
			background: rgba(0, 0, 0, 0.3);
			font-weight: 500;
			font-size: 13px;
			line-height: 1.5;
			padding: 10px;
			height: 145px;
			overflow: auto;
			p {
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			@media (min-width: 1200px) {
				font-size: 18px;
				height: 190px;
			}
		}
		&-one {
			background-image: url('@img/Card1_mob.png');
			@media (min-width: 744px) {
				background-image: url('@img/Card1.jpg');
			}
		}

		&-two {
			background-image: url('@img/Card2_mob.png');
			@media (min-width: 744px) {
				background-image: url('@img/Card2.jpg');
			}
		}

		&-three {
			background-image: url('@img/Card3_mob.png');
			@media (min-width: 744px) {
				background-image: url('@img/Card3.jpg');
			}
		}
	}

	&__nav {
		display: flex;
		padding-top: 24px;
	}

	&__nav-prev {
		margin-right: 24px;
	}

	&__nav-prev,
	&__nav-next {
		border-radius: 50%;
		border: 0.76px solid #eaecf0;
		padding: 10px;
		transition: all 0.3s ease 0s;
		&:hover {
			border: 1px solid #667085;
		}
	}
}

.swiper-slide {
	width: 293px;
	height: 384px;
	background-repeat: no-repeat;
	background-size: cover;
	@media (min-width: 992px) {
		width: 384px;
		height: 504px;
		background-size: unset;
	}
}




